<br>
<br>

<h1><%= title %></h1>
<p>Welcome to <%= subTitle %></p>
<p>
  This is the opening page.

<h2>Helpful links - watch the URL in your browser</h2>
<ul>
  <li>
    <a rel="noopener" href='/rabbit'>rabbit</a>
    <a rel="noopener" href='/rabbit/create'>create</a>
    <a rel="noopener" href='/rabbit/details/1'>read</a>
    <a rel="noopener" href='/rabbit/edit/1'>update</a>
    <a rel="noopener" href='/rabbit/delete/3'>delete</a>
    <a rel="noopener" href='/rabbit/findall'>all</a>
    <a rel="noopener" href='/rabbit/findone/1'>one</a>
  </li>
  <li> <a rel="noopener" href='/tea'>tea</a>
  </li>
  <li> <a rel="noopener" href='/game'>game</a>
  </li>
  <li> <a rel="noopener" href='/animal'>animal</a>
  </li>
  <li> <a rel="noopener" href='/unknown'>unknown</a>
  </li>
  <li> <a rel="noopener" href='/chief'>chief</a>
  </li>
  <li> <a rel="noopener" href='/student'>student</a>
  </li>
  <li> <a rel="noopener" href='/food'>food</a>
  </li>
  <li> <a rel="noopener" href='/software'>software</a>
  </li>
  <li> <a rel="noopener" href='/whiskey'>whiskey</a>
  </li>
  <li> <a rel="noopener" href='/book'>book</a>
  </li>
  </li>
  <li> <a rel="noopener" href='/videoGame'>videoGame</a>
  </li>
  <li> <a rel="noopener" href='/course'>course</a>
  </li>
  <li> <a rel="noopener" href='/series'>series</a>
  </li>
  <li> <a rel="noopener" href='/fruit'>fruit</a>
  </li>
  <li> <a rel="noopener" href='/dance'>dance</a>
  </li>
  <li> <a rel="noopener" href='/ship'>ship</a>
  </li>
  <li> <a rel="noopener" href='/pokemon'>pokemon</a>
  </li>
  <li> <a rel="noopener" href='/one'>one</a>
  </li>
  <li> <a rel="noopener" href='/two'>two</a>
  </li>
  <li> <a rel="noopener" href='/three'>three</a>
  </li>
</ul>

</p>