<!--
*  country details view
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to display a book.
*
* @author Felipe Sato  <s531355@nwmissouri.edu>
-->

<p> country details.ejs </p>