<!--
*  Quest delete view
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to display the item to delete.
*
* @author Denise Case <dcase@nwmissouri.edu>
-->
  
<% if (quest.error) { %>
  <div class="alert alert-danger" role="alert"><%- quest.error %></div>
  <% } %>
  
  <div class="card-body">
  
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th width=>Action</th>
        </tr>
      </thead>
      <tbody>
  
        <tr>
          <th scope="row"><%= quest.id %></th>
          <td><%= quest.name%></td>
          <td>
            <form action="/quest/delete/<%=quest.id%>" method="post">
              <input type="submit" class="btn btn-danger delete" value="Delete" onclick="return alert('Are you sure?')"/>
            </form>
          </td>
        </tr>
  
      </tbody>
    </table>
  