<!--
*  Game create view
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to delete a new game.
*
* @author Blake Bennett <s532542@nwmissouri.edu>
-->

<p> game delete.ejs </p>