<!--
*  book edit view
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to edit a book.
*
* @author shivani tangellapally <s540965@nwmissouri.edu>
-->

<div class="card">
    <div class="card-header">
      Edit Book
    </div>
    <div class="card-body">
      <form action="/book/save/<%= book.id %>" method="post">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" class="form-control" id="book" name="book" value="<%= book.book %>" autocomplete="off">
        </div>
        <div class="form-group">
          <label for="age">Age:</label>
          <input type="number" class="form-control" id="publishedDate" name="publishedDate" value="<%= book.publishedDate %>">
        </div>
        <br>
        <!-- Checked checkbox -->
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="checkbox" value="<%= book.isFantasy %>" checked />
          <label class="form-check-label" for="checkbox">
            Is Fantasy?
          </label>
        </div>
        <br>
        <div class="form-group">
          <input type="submit" class="btn btn-info" title="Submits a POST /save/:id request" value="Save" />
        </div>
      </form>
    </div>
  </div>