<!--
*  Animal edit view
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to edit a animal.
*
* @author Varsha vellanki  <s540114@nwmissouri.edu>
-->

<div class="card">
    <div class="card-header">
      Edit Animal
    </div>
    <div class="card-body">
      <form action="/animal/save/<%= animal.id %>" method="post">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" class="form-control" id="name" name="name" value="<%= animal.name %>" autocomplete="off">
        </div>
        <div class="form-group">
          <label for="lifeSpan">LifeSpan:</label>
          <input type="number" class="form-control" id="=lifeSpan" name="lifeSpan" value="<%= animal.lifeSpan %>" min=1 max=100 step=1 default=2
            autocomplete="off">
        </div>
        <br>
        <!-- Checked checkbox -->
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="checkbox" value="<%= animal.isPet %>" checked />
          <label class="form-check-label" for="checkbox">
            Is Pet?
          </label>
        </div>
        <br>
        <div class="form-group">
          <input type="submit" class="btn btn-info" title="Submits a POST /save/:id request" value="Save" />
        </div>
      </form>
    </div>
  </div>